<div class="row content-justify-between">
    <div class="col-6">
        <label class="my-3" for="Logs" style="color: #F2B441; font-weight: bold;">{{ nameCard() }}</label>
    </div>
    <div class="col-6 my-auto">
        <a [routerLink]="['/history/',linkPage()]">
            <button class="button2">Ver detalles</button>
        </a>
    </div>
</div>
<div class="container" style="border: 2px solid #1F6A73; border-radius:20px; background:#1F6A73;">
    <div class="row py-2 justify-content-center">
        <div class="col-2">
            <label for="unidad" class="label2 text-center px-2 py-1">{{ unidad() }}</label>
        </div>
        <div class="col text-end">
            <input class="text2 text-center py-1" type="text" value="{{ datoSensor().valor }}" disabled>
        </div>
    </div>
</div>