.button1 {
    background-color: #F2B441;
    /* Green */
    border: 2px solid #1F6A73;
    border-radius: 20px;
    color: #1F6A73;
    padding: 8px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
}

.button1:hover {
    background-color: #1F6A73;
    color: #F2B441;
}

.button1:active {
    background-color: #36BFBF;
    /* box-shadow: 0 5px #666; */
    transform: translateY(4px);
}

.text1 {
    border: 2px solid #F27244;
    background-color: transparent;
    border-radius: 10px;
    color: #1F6A73;
    display: inline-block;
    font-size: 20px;
    font-weight: bold;
    width: 100%;
}

.tfecha {
    color: #36BFBF;
}
