<div class="container-fluid mt-4 p-5" style="background-color:#051926;">
    <div class="row">
        <div class="col-3 content-justify-center my-auto">
            <h5 class='text-center' style="color: #F2B441">Puerto Serial:</h5>
            <!-- <select class="form-select mb-2" aria-label="Default select example"
                style="background-color:#F2B441; border-color: #F27244">
                <option value="COM0" selected>COM 0</option>
                <option value="COM1">COM 1</option>
                <option value="COM2">COM 2</option>
                <option value="COM3">COM 3</option>
            </select> -->
        </div>
        <div class="col-3 my-auto">
            @if (!loraService.linkLora()) {
                <button class="button1" (click)="loraService.addDataDB()" >Seleccionar Puerto Serial</button>
            }
            @else {
                <button class="button1" (click)="loraService.stopAdd()" >Desconectar Puerto Serial</button>
            }
        </div>
        <!-- <div class="col-3">
            <br>
        </div> -->
        <div class="col-6 mt-2 justify-content-end text-end">
            <img src="/img/logo2.png" alt="Logo-Icarus" width="280" height="80">
        </div>
    </div>
<br>
    <div class="row mt-3">
        <div class="col-6 col-xl-3">
            <label class="my-3" for="Logs" style="color: #F27244; font-weight: bold;">Estado - Logs</label>
            <div class="container my-auto" style="border: 2px solid #F27244; border-radius:20px; background: transparent;">
                <ul style="color: #36BFBF;">
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                    <li></li>
                </ul>
            </div>
        </div>
        <div class="col-6 col-xl-3">
            <yellow-card [title]="'Acelerometro'" [coordenadas]="(loraService.acelerometro())" [linkPage]="'acelerometro'"></yellow-card>
        </div>
        <div class="col-6 col-xl-3">
          <yellow-card [title]="'Giroscopio'" [coordenadas]="(loraService.giroscopio())" [linkPage]="'giroscopio'"></yellow-card>
        </div>
        <div class="col-6 col-xl-3">
            <div class="row justify-content-between">
                <div class="col tfecha">
                    <h6>Hora sistema</h6>
                    <h6>Fecha sistema</h6>
                </div>
                <div class="col tfecha text-end">
                    <h6>{{ loraService.loraDate | date:'HH:mm' }}</h6>
                    <h6>{{ loraService.loraDate | date:'dd.LLL.yyyy' }}</h6>
                </div>
            </div>

            <div class="text-center">
                <h5 class="" style="color: #F27244;">Bateria</h5>
                  <circle-progress [percent]="(loraService.bateria())"
                  [radius]="50"
                  [outerStrokeWidth]="10"
                  [innerStrokeWidth]="4"
                  [showSubtitle]="false"
                  [titleColor]="'#36BFBF'"
                  [titleFontSize]="'30'"
                  [unitsColor]="'#36BFBF'"
                  [unitsFontSize]="'20'"
                  [outerStrokeColor]="'#78C000'"
                  [innerStrokeColor]="'#C7E596'"
                  [animation]="true"
                  [animationDuration]="800"></circle-progress>
            </div>
        </div>
    </div>

    <div class="row mt-5">
        <div class="col-6 col-xl-3">
            <blue-card [datoSensor]="loraService.temperatura()" [nameCard]="'Temperatura'" [unidad]="'K'" [linkPage]="'temperatura'"></blue-card>
        </div>
        <div class="col-6 col-xl-3">
            <blue-card [datoSensor]="loraService.presion()" [nameCard]="'Presion'" [unidad]="'atm'" [linkPage]="'presion'"></blue-card>
        </div>
        <div class="col-6 col-xl-3">
            <blue-card [datoSensor]="loraService.co2()" [nameCard]="'CO2'" [unidad]="'ppm'" [linkPage]="'co2'"></blue-card>
        </div>
        <div class="col-6 col-xl-3">
            <blue-card [datoSensor]="loraService.altura()" [nameCard]="'Altura'" [unidad]="'m'" [linkPage]="'altura'"></blue-card>
        </div>
    </div>



</div>

