.button2 {
    background-color: transparent;
    border: 2px solid #F2B441;
    border-radius: 20px;
    color: #F2B441;
    padding: 1px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
}

.button2:hover {
    background-color: #F27244;
    color: #F2B441;
}

.button2:active {
    background-color: #36BFBF;
    /* box-shadow: 0 5px #666; */
    transform: translateY(4px);
}

/* semicircle progresss */


@keyframes progress {
  0% { --percentage: 0; }
  100% { --percentage: var(--value); }
}

@property --percentage {
  syntax: '<number>';
  inherits: true;
  initial-value: 0;
}

[role="progressbar"] {
  --percentage: var(--value);
  --primary: #369;
  --secondary: #adf;
  --size: 300px;
  animation: progress 2s 0.5s forwards;
  width: var(--size);
  aspect-ratio: 2 / 1;
  position: relative;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

[role="progressbar"]::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: conic-gradient(from 0.75turn at 50% 100%, green 90deg, yellow, red 180deg);
  mask: radial-gradient(at 50% 100%, white 55%, transparent 0);
  mask-mode: alpha;
  -webkit-mask: radial-gradient(at 50% 100%, #0000 55%, #000 0);
  -webkit-mask-mode: alpha;
  overflow: hidden;
  border-radius: 50% / 100% 100% 0 0;
}

[role="progressbar"]::after {
  content: "";
  width: 60%;
  height: 10%;
  position: absolute;
  bottom: -5%;
  left: 0;
  background: 
    radial-gradient(circle at 83.33333% 50%, #fff 4%, #000 0 5%, #0000 0),
    conic-gradient(at -20% 50%, #0000 88deg, #000 88.25deg 91.75deg, #0000 92deg);
  transform-origin: 83.33333% 50%;
  transform: rotate(calc(var(--value) * 180deg / 100))
}